<%= link_to "New post", new_post_path, class: 'btn btn-outline-primary ms-3' %>
<div class="container my-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Post Card -->
      <%= render @posts %>
    </div>
  </div>
</div>
